.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-h3 {
    margin: 1.5rem 0;
}
.filter-page{
    background-color: whitesmoke;
    min-height: 90vh;
    padding: 50px 12px;
}

.filter-container{
    position: fixed;
}