.pseudo-search {
    display: inline;
    border: 2px solid #ccc;
    border-radius: 100px;
    padding: 6px 15px;
    transition: background-color 0.5 ease-in-out;
}

.pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 200px;
}

.pseudo-search input:focus {
    outline: none;
}

.pseudo-search button,
i {
    border: none;
    background: none;
    cursor: pointer;
}