.product-list {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.product-container {
    text-align: center;
}

.product-container h1 {
    font-size: 2.3rem;
    margin: 2.625rem 0;
    line-height: 1.2;
    font-weight: 600;
    color: #354d0d;
}

.show-more {
    background-color: transparent;
    border: none;
}